<% provide(:title, "About") %>
<h1>About</h1>
<p>

Long story short: this is a fairly basic web platform that I hacked together during the process of learning how to code.<br><br> 

I figured it'd be cool to have a web app that could help coordinate social group runs by being able to publish them to a single platform where anyone interested
can opt in, receive reminders etc. Generally, tools that are usually used to do this (eg. Google Calendar, Whatsapp, Slack, Strava) aren't specifically designed for this purpose, so this is my attempt at building something that is.<br><br>

To kick off the experiment, I'll be posting all of my runs each week here, open for people to join in (via this application). I usually run 4-5 times a week and at a variety of paces.<br><br>

If you've got thoughts or feedback (good or bad), I'd love to hear it! Let me know in person (ie. one of our group runs!) or at admin@getrunning.today<br><br>

See you on the trails!<br><br>

Brendan


</p>
</body>
</html>
