<% provide(:title, "About") %>
<h1>About</h1>
<p>


This website has up to now been a side project for helping me to learn how to code (as I came to realise that I learn far quicker when working towards building things rather than learning more abstract/less practical theory etc). So this is how the site initially came to exist! <br><br>

On the other side of the coin, I used to run competitively up until a few years ago but over the last couple of years I've gotten great enjoyment in running on a social level with friends and work colleagues, and exploring different events/experiences that the sport has to offer. Throughout this journey, a common feature has been the use of Whatsapp, Facebook Messenger, Slack and Google Calendar to help with getting people together for group training runs and other events. 
<br><br>

So I decided to build this fairly basic platform with the idea that it could help remove the communication obstacles to getting people together, and increase the visibility for groups runs that are being organised in the locality, aimed at any other friends etc that would be interested in joining as long as they have an easy way to find out and get involved.  <br><br>

Thanks for stopping by! <br><br>

Brendan<br>
GetRunning.Today


</p>
</body>
</html>
