<% provide(:title, "FAQ") %>
<h1>Frequently Asked Questions</h1>
<p>
I'll add to this section if/when your questions come in.
<br> <br>
Please send any questions, feedback, feature requests, comments to [insert_email_here]

</p>
</body>
</html>
