<footer class="footer">
  <small>
  RunWithMe.Today - because life's too short to be running solo!!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>